.navbar{
    background-color: white;
}
.scl-content a{
    text-decoration: none;
    color: rgba(0,0,0,0.6) !important;
    font-size: 16px;
}
.nav-btn{
    background-color: #011f60;
    border-radius: 0;
    padding: 10px 18px !important; 
    width: auto;
}
.nav-btn a,.nav-btn span{
    text-decoration: none;
    color: white;
}
.nav-link:hover,.nav-btn a:hover,.scl-content a:hover{
    color: #FFCB08;
}
.nav-btn:hover{
    background-color: #011f60;
}
@media (min-width:768px) and (max-width:1199px){
  
    .a{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
@media (max-width:320px){
    .navbar-brand img{
        width: 170px;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .navbar-nav.a {
        gap: 10px;           
        align-items: center;
    }

    .scl-content {
        flex-wrap: wrap;     
        justify-content: center;
    }

    .nav-btn {
        padding: 8px 12px !important;
        font-size: 14px;
    }
}
