.scl-content a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}
.nav-btn{
    background-color: #011f60;
    border-radius: 0;
    padding: 10px 18px !important; 
    width: auto;
}
.nav-btn a,.nav-btn span{
    text-decoration: none;
    color: white;
}
.nav-link:hover,.nav-btn a:hover,.scl-content a:hover{
    color: #FFCB08;
}
.nav-btn:hover{
    background-color: #011f60;
}
@media (min-width:768px) and (max-width:1200px){
  
    .a{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}