* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.class-section{
    margin-top: 100px;
    background-color: #f8fdfe;
}
.class-content{
    align-self: center;
    margin-bottom: 30px;
}
.class-content h2{
    font-size: 40px;
    font-weight: 800;
    color: #022a4b;
}
.class-content p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(161, 160, 160);
}
.class-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: 200;
    font-size: 15px;
}
.filter-section h2{
    font-size: 45px;
    font-weight: 800;
}
.filter-section p{
    font-size: 15px;
    font-weight: 200;
}
.form-control{
    display: inline;
    width: 20%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
}
.offer-section{
    background-color: #f8fdfe;
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid black;
}
.accordion-button, .accordion-body{
    background-color: #effcff;
}
/* .accordion-button::before{
  content: "+ ";
  font-size: 18px;
  color: #555;
} */
.accordion-button::after{
    content: none;
}
.accordion-button details[open]::before{
    content: "-";
}
.accordion-body p{
    font-size: 15px;
    color: grey;
}
.accordion-item{
    border: none;
}
.accordion-button:focus{
    background-color: #effcff;
    color: black;
    box-shadow: none;
}

@media (max-width:767px){
    .filter-section h2{
        font-size: 20px;
    }
}