* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.class-section{
    margin-top: 100px;
    background-color: #f8fdfe;
}
.class-content{
    align-self: center;
    margin-bottom: 30px;
}
.class-content h2{
    font-size: 40px;
    font-weight: 800;
    color: #022a4b;
}
.class-content p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(161, 160, 160);
}
.class-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: 200;
    font-size: 15px;
}
.filter-section h2{
    font-size: 45px;
    font-weight: 800;
}
.filter-section p{
    font-size: 15px;
    font-weight: 200;
}
#classDropDown {
    padding: 10px 45px 10px 20px;
    border: 2px solid #000103;
    border-radius: 30px; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpolyline points='4,6 8,10 12,6' stroke='%230b2a56' stroke-width='2' fill='none' stroke-linecap='round'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center; 
    width: 350px;
}
.offer-section{
    background-color: #f8fdfe;
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid black;
}
.accordion-button,
.accordion-body {
    background-color: #effcff;
}

.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #effcff;
    color: black;
}
.accordion-button::after {
    display: none;
}
.accordion-button::before {
    content: "+";
    margin-right: 15px;
}
.accordion-button:not(.collapsed)::before {
    content: "–";
}


@media (max-width:767px){
    .filter-section h2{
        font-size: 20px;
    }
}