/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* HERO / BACKGROUND */
.background {
  background: rgb(241, 241, 241);
}

/* Slider Typography */
.slider-1 h2 {
  font-size: 33px;
  color: rgb(0, 0, 85);
  font-weight: 900;
}

.slider-1 p {
  padding-right: 95px;
}

.slider-2 {
  padding-right: 98px;
}

.slider-2 h1 {
  font-size: 30px;
  color: rgb(0, 0, 85);
  font-weight: 700;
}

.slider-2 h2 {
  font-size: 22px;
  color: #011f60;
}

.slider-2 h3,
.slider-2 h4 {
  font-size: 22px;
  color: black;
}

.slider-2 p {
  font-size: 16px;
}

.slider-3 h1 {
  font-size: 38px;
  font-weight: 700;
  color: #062b52;
}

.slider-3 h2 {
  font-size: 17px;
  font-weight: 700;
  color: #062b52;
  margin-top: 20px;
}

.slider-3 h3 {
  font-size: 18px;
  color: black;
}

.slider-3 p {
  font-size: 16px;
  color: black;
  padding-right: 98px;
}

.slider-3 h4 {
  font-size: 22px;
  font-weight: 500;
  color: #062b52;
}

.slider-3 h5 {
  font-size: 27px;
  font-weight: 500;
  margin: 10px 0 25px;
  color: black;
}

.slider-4 h1 {
  font-size: 35px;
  color: #022a4b;
}

.slider-4 h2 {
  font-size: 20px;
  color: #011f60;
}

.slider-4 h3 {
  font-size: 20px;
  padding-right: 80px;
}

.slider-4 h5 {
  font-size: 20px;
  color: #011f60;
  padding-right: 120px;
}

.slider-5 h1 {
  font-size: 35px;
  color: #022a4b;
}

.slider-5 h2 {
  font-size: 18px;
  color: #011f60;
}

.slider-5 h3 {
  font-size: 20px;
  padding-right: 100px;
}

.slider-5 p {
  font-size: 17px;
  padding-right: 150px;
}

/* Slider arrows */
button.carousel-control-prev,
button.carousel-control-next {
  width: 60px;
  height: 60px;
  margin: auto 20px;
}

/* COUNTER SECTION */
.counter-section {
  background-color: #ffcb08;
  border-radius: 30px;
}

.counter-content {
  border-right: 1px solid black;
}

.counter-content h2,
.counter-content1 h2 {
  font-size: 48px;
  color: #03013a;
  font-weight: 700;
}

.counter-content p,
.counter-content1 p {
  font-size: 24px;
  color: #03013a;
  font-weight: 500;
}

/* TABS */
.tab-pills .tab-link {
  background:none;
  border-radius: 50px;
  color: #000;
  font-weight: 600;
  border: none;
}

.tab-pills .tab-link.active {
  background-color: #ffc400;
  color: #000 !important;
}

.tab-item:hover{
  color: none;
}

.tabs {
  border-radius: 50px;
  border: 1px #bfbfbf solid;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}


.shadow-sm p {
  padding-right: 100px;
  margin-bottom: 30px;
  color: rgb(67, 67, 67);
}
.darkblue{
  color: #022990;
  font-size: 14px !important;
}

.competative-section p {
  font-size: 14px;
  padding-right: 25px;
  color: rgb(67, 67, 67);
}

/* RESULT SECTION */
.result-section {
  background-color: rgb(241, 253, 249);
}

.result-top h2 {
  font-size: 43px;
  font-weight: 700;
}
.badge{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  font-size: 13px;
}

.Announcement {
  border: 1px solid #ededed;
  transition: all 0.4s ease;
}

.Announcement h2 {
  font-size: 21px;
  font-weight: bold;
  color: #03013a;
  padding: 0 30px;
}

.Announcement img {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.Announcement h3 {
  font-size: 24px;
  font-weight: 700;
  color: #03013a;
}

.Announcement:hover {
  transform: translateY(-10px);
}

/* NEWS SECTION */
.news-section {
  background-color: rgb(221, 245, 255);
  border-radius: 25px;
}

.news-section h6 {
  font-size: 25px;
}

.scroll-box {
  height: 300px;
  overflow-y: auto;
  position: relative;
}

.news-item {
  padding: 10px 0;
}

.news-item h6 {
  font-size: 15px;
}

/* BLOGS */
.blogs {
  background-color: rgb(221, 245, 255);
}

.blogs-btn:hover,
.fa-arrow-right:hover {
  background-color: #000;
  color: #fff;
}

.blog-content img {
  width: 100%;
}

.blog-content h2 {
  font-size: 23px;
  color: #011f60;
}

.blog-content a {
  text-decoration: none;
  font-weight: 500;
  color: #022a4b;
}

.review-card p{
  font-size: 14px;
}


.review-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.carousel-indicators.custom-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dcdcdc;
  border: none;
  margin: 0 6px;
  opacity: 1;
}

.carousel-indicators.custom-indicators .active {
  background-color: #070142;
}

/* OFFER SECTION */
.offer {
  background-color: rgb(236, 252, 247);
}

/* EVENTS */
.events-btn:hover {
  background-color: #000 !important;
  color: #fff;
}



.footer-top-btn {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  transition: all 0.5s ease;
  border-radius: 30px;
}

.footer-top-btn:hover {
  background-color: rgb(255, 193, 7);
  color: black;
  border: 1px solid black;
}

.footer-end {
  font-size: 14px;
  color: rgb(203, 202, 202) !important;
  transition: all 0.3s ease;
}

.footer-end span:hover {
  color: #fff !important;
}

/* ================= RESPONSIVE FIXES ================= */

@media (max-width: 992px) {
  .slider-1 p,
  .slider-2,
  .slider-3 p,
  .slider-4 h3,
  .slider-4 h5,
  .slider-5 h3,
  .slider-5 p {
    padding-right: 0 !important;
  }

  .slider-1 h2,
  .slider-2 h1,
  .slider-3 h1,
  .slider-4 h1,
  .slider-5 h1 {
    font-size: 24px !important;
  }

  button.carousel-control-prev,
  button.carousel-control-next {
    display: none;
  }

  .counter-content {
    border-right: none !important;
  }

  .shadow-sm p,
  .competative-section p {
    padding-right: 0 !important;
  }

  .Announcement h2 {
    font-size: 18px;
    padding: 0;
  }

  .Announcement h3 {
    font-size: 20px;
  }

  .news-section {
    padding: 20px !important;
  }

  .scroll-box {
    height: auto;
  }

  .blogs .blog-content {
    margin-bottom: 20px;
    text-align: center;
  }

  .review-card {
    text-align: center;
  }

  .review-img {
    margin: 0 auto;
  }

  .footer .row {
    text-align: center;
  }

  .footer img {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .counter-content h2,
  .counter-content1 h2 {
    font-size: 32px !important;
  }

  .counter-content p,
  .counter-content1 p {
    font-size: 16px !important;
  }

  .tabs {
    flex-direction: column;
    width: 100%;
  }

  .events .col-lg-4 {
    margin-bottom: 25px;
  }

  .footer-top-btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
  }

  .container,
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  section {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-end {
    font-size: 12px !important;
  }
}
