.background{
    background: rgb(241, 241, 241);
}
.slider-btn{
    background-color:rgb(248, 202, 37) ;
    color: black;
}
.slider-1 h2{
    font-size:33px ;
    color: rgb(0, 0, 85);
    font-weight: 900;
}
.slider-1 p{
    padding-right: 95px !important;
}
.slider-2{
    padding-right: 98px;
}
.slider-2 h1{
    font-size: 30px;
    color: rgb(0, 0, 85);
    font-weight: 700;
} 
.slider-2 h2{
    font-size: 22px;
    color: #011F60;
}
.slider-2 h3,.slider-2 h4{
    font-size: 22px;
    color: black;
}
.slider-2 p{
    font-size: 16px;
}

.slider-3 h1 {
  font-size: 38px;
  font-weight: 700;
  color: #062b52;
}

.slider-3 h2 {
  font-size: 17px;
  font-weight: 700;
  color: #062b52;
  margin-top: 20px;

}
.slider-3 h3{
  font-size: 18px ;
color: black;
}

.slider-3 p {
  font-size: 16px;
  color: black;
  padding-right: 98px;
}

.slider-3 h4 {
  font-size: 22px;
  font-weight: 500;
  color: #062b52;
}

.slider-3 h5 {
  font-size: 27px;
  font-weight: 500;
  margin: 10px 0 25px;
  color: black;
}

button.carousel-control-prev,
button.carousel-control-next {
    background-size: 50%;
  width: 60px;
  height: 60px;
  margin: auto 20px;
}
.counter-section{
  background-color: #ffcb08;
  border-radius: 30px;
}
.counter-content h2{
  font-size: 48px;
  color: #03013a;
  font-weight: 700;
}
.counter-content p{
  font-size: 24px;
  color: #03013a;
  font-weight: 500;
}
.nav-pills .nav-link {
    border-radius: 50px;
    padding: 10px 30px;
    color: #000;
    font-weight: 600;
}

.nav-pills .nav-link.active {
    background-color: #ffc400;
}
.popular-section{
  border-radius: 300px !important;
}
.shadow-sm p{
  padding-right: 100px;
  margin-bottom: 30px;
}
