.background{
    background: rgb(241, 241, 241);
}
.slider-btn{
    background-color:rgb(248, 202, 37) ;
    color: black;
}
.slider-1 h2{
    font-size:33px ;
    color: rgb(0, 0, 85);
    font-weight: 900;
}
.slider-1 p{
    padding-right: 95px !important;
}
.slider-2{
    padding-right: 98px;
}
.slider-2 h1{
    font-size: 30px;
    color: rgb(0, 0, 85);
    font-weight: 700;
} 
.slider-2 h2{
    font-size: 22px;
    color: #011F60;
}
.slider-2 h3,.slider-2 h4{
    font-size: 22px;
    color: black;
}
.slider-2 p{
    font-size: 16px;
}

.slider-3 h1 {
  font-size: 38px;
  font-weight: 700;
  color: #062b52;
}

.slider-3 h2 {
  font-size: 20px;
  font-weight: 700;
  color: #062b52;
  margin-top: 20px;
}

.slider-3 p1 {
  font-size: 18px;
  color: #333;
  margin-top: 15px;
}

.price-text {
  font-size: 22px;
  font-weight: 700;
  color: #062b52;
  margin-top: 20px;
}

.highlight {
  font-size: 30px;
  font-weight: 900;
  margin: 10px 0 25px;
}

button.carousel-control-prev,
button.carousel-control-next {
    background-size: 50%;
  width: 60px;
  height: 60px;
  margin: auto 20px;
}
